
.content {
    background-color: #f4f2e4;
    color: #183f30;
    width: 100%;
    height: 100%;
}

.section {
    padding: 2rem;
    padding-left: 0;
}

.headContainer {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background: linear-gradient(0deg, #082e24, #153d2a66 100%), url("/timeline/pic2019-1.jpg");
    background-size: cover;
    padding: 2rem;
    height: 25rem;
    color: #f4f2df;
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 0;
}

.headtext {
    max-width: 50rem;
}


.headtext > h1 {
    font-size: 5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: monospace;
}

.headtext > p {
    font-size: 1.5rem;
}

.qh {
    text-align: center;
    font-size: 10rem;
    font-weight: 100;
    opacity: 50%;
    flex-grow: 1;
}

.timeline {
    margin-top: 2rem;
    padding-left: 75px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.timeline:before {
    content: ' ';
    background: #799363;
    display: inline-block;
    position: absolute;
    left: 35px;
    width: 2px;
    height: 100%;
    z-index: 5;
}

.timelineCard {
    display: flex;
    flex-direction: row;
    border: 1px solid #a6b496;
    flex-direction: row;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #a6b496;
}

.imgContainer > img {
    object-fit: cover;
    max-width: 20rem;
    height: 100%;
}

.textContainer {
    padding: 1.5rem;
    line-height: 1.8;
}

.leftContainer {
    flex-grow: 1;
}

.cardHeader {
    width: 100%;
    background-color: #183f30;
    color: #f4f2df;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: monospace;
}

.timelineCard::before {
    content: ' ';
    background: black;
    border: 1px solid #a6b496;
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    left: 26px;
    width: 15px;
    height: 15px;
    z-index: 5;
}

@media screen and (max-width: 850px) {
    .head {
        flex-direction: column-reverse;
        padding: 0;
    }

    .headtext > h1 {
        font-size: 3rem;
    }

    .headtext > p {
        font-size: 1.25rem;
    }

    .imgContainer > img {
        max-width: 100%;
        height: auto;
    }

    .timelineCard {
        flex-direction: column;
    }
}
